<div class="card h-100">
 <div class="card-header">
    Выходные данные
 </div>
 <div class="card-body">
    {% if not error %}
    <ul style="font-size: 1.1em;">
       <li>
          <p class="h4">Первое число: {{ a }}
       </li>
       <li>
          <p class="h4">Второе число: {{ b }}
       </li>
       <li>
          <p class="h4">Сумма чисел {{ a }} и {{ b }} равна {{ c }}
       </li>
    </ul>
    {% else %}
        <p style="color: green; font-size: 1.3em;">Введите данные</p>
    {% endif %}
 </div>
</div>