<div class="card h-100">
 <div class="card-header">
    Входные данные
 </div>
 <div class="card-body">
    <form action="/calc/" method="post">
       {% csrf_token %}

       {% for field in cform %}
       <div class="form-group row">
          <div class="col-4">
             <label for="{{ field.name }}" class="col-form-label">{{ field.label }}</label>
          </div>
          <div class="col">
             {{ field }}
          </div>
       </div>
       {% endfor %}

       <div class="form-group row">
          <div class="col">
             <input type="submit" class="btn btn-success btn-block" value="Вычислить">
          </div>
       </div>


        <div class="btn-group btn-block">
            <button type="button" class="btn btn-block btn-primary">Вычисление</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="calcform.submit();">Вычислить</a>
                <a class="dropdown-item" href="#" onclick="calc();">Вычислить на фронтенде</a>
            </div>
        </div>

    </form>
 </div>
</div>
