{% extends 'base.html' %}

{% block content %}
    <p>Добро пожаловать отсюда... То есть сюда</p>
    <p>Я серьёзно =)</p>
    <hr>
    <ul>
       <li>Автор сайта: {{ author }}</li>
       <li>Количество страниц на сайте: {{ pcount }}</li>
       <li>Текущая дата по Москве: {{ date.day }}.{{ date.month }}.{{ date.year }}</li>
    </ul>
    {% if request.user.is_authenticated %}
    <p>Текущий пользователь: {{ request.user }}
        (<a href="/logout/">Выйти</a>)
    {% else %}
    <p>Пользователь не авторизован на сайте
        (<a href="/login/">Войти</a>)
    {% endif %}

    <p></p>
    <a href="{{ riddleSite }}" class="what button">Заhадка</a>
    <a href="{{ answerSite }}" class="what button">Ответо</a>
    <a href="{{ calcSite }}" class="what button">Калбкулято</a>
    <a href="{{ squadEqiual }}" class="what button">Квадрат уравн</a>
    <a href="{{ str2words }}" class="what button">Парсинг Строк</a>
    <a href="{{ str_history }}" class="what button">История Парсинга Строк</a>
    <a href="{{ multiplytableSite }}" class="what button">Табоица умжножения</a>
    <p style="margin: 2em"></p>
    <a href="{{ login }}" class="what button">Войти</a>
    <a href="{{ logout }}" class="what button">Выйти</a>
    <a href="{{ signup }}" class="what button">Зарегаться</a>

    <a href="{{ menuSite }}">
        <img style="width: 60px; height: 60px" src="./static/menu1.png" alt="menu Icon">
    </a>
{% endblock %}