{% extends 'baseBlank.html' %}

{% block content %}
    <p>Добро пожаловать отсюда... То есть сюда</p>
    <p>Я серьёзно =)</p>
    <hr>
    <ul>
       <li>Автор сайта: {{ author }}</li>
       <li>Количество страниц на сайте: {{ pcount }}</li>
       <li>Текущая дата по Москве: {{ date.day }}.{{ date.month }}.{{ date.year }}</li>
    </ul>
    {% if request.user.is_authenticated %}
    <p>Текущий пользователь: {{ request.user }}
        <a class="btn btn-primary" href="/logout/" role="button">Выйти</a>
    {% else %}
    <p>Пользователь не авторизован на сайте
        <a class="btn btn-primary" href="/login/" role="button">Войти</a>
    {% endif %}

    <p></p>
    <a href="{{ menuSite }}">
        <img style="width: 60px; height: 60px" src="./static/menu1.png" alt="menu Icon">
    </a>
{% endblock %}