{% extends 'baseBlank.html' %}

{% block content %}

    <!-- <h1>{{ header }} , {{ user }}</h1> -->

    <form action="/squadequal/" method="post" style="font-size: 1.2em">
        {% csrf_token %}
        {{ cform.a }}{{ cform.a.label }}
        {{ cform.b }}{{ cform.b.label }}
        {{ cform.c }}{{ cform.c.label }}

        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        
        <p><input style="margin-top: 20px" class="btn btn-success" type="submit" value="Вычислить"></p>
    </form>
    <hr>

    <div style="font-size: 1.2em">
        {% if type == 'no' %}
        <p>Первое число : {{ a }}</p>
        <p>Второе число : {{ b }}</p>
        <p>Третье число : {{ c }}</p>
        <hr>
        <p>Тут нет иксов</p>
        {% else %}
            {% if type == 'one' %}
            <p>Первое число : {{ a }}</p>
            <p>Второе число : {{ b }}</p>
            <p>Третье число : {{ c }}</p>
            <hr>
            <p>Икс : <b>{{ x }}</b></p>
            {% else %}
                {% if type == 'two' %}
                <p>Первое число : {{ a }}</p>
                <p>Второе число : {{ b }}</p>
                <p>Третье число : {{ c }}</p>
                <hr>
                <p>первый Икс : <b>{{ x1 }}</b></p>
                <p>второй Икс : <b>{{ x2 }}</b></p>
                {% else %}
                    {% if type == 'zeroerror' %}
                        <p>Первое число : {{ a }}</p>
                        <p>Второе число : {{ b }}</p>
                        <p>Третье число : {{ c }}</p>
                        <hr>
                        <p style="color: red">Вы наверное делите на Ноль</p>
                    {% else %}
                        <span style="color: green;"></span>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>


{% endblock %}
