{% extends 'baseBlank.html' %}

{% block content %}

    <form action="/str2words/" method="post">
        {% csrf_token %}

        {{ cform.stroka }}

        <p><input style="margin-top: 20px" class="btn btn-success" type="submit" value="Пропарсить"></p>
    </form>
    <hr>

    <div style="font-size: 1em">
        {% if not error %}
            <p>Всего слов в этой строке - <b>{{ countWords }}</b></p>
            <p>Всего чисел в даннйо стрке - <b>{{ countNumbers }}</b></p>

            <br>

            {% if countWords > 0 %}
                <p>Список всех Слов</p>
                <ol>
                    {% for word in allWords %}
                    <li><b>{{ word }}</b></li>
                    <p></p>
                    {% endfor %}
                </ol>
            {% endif %}
            <p></p>
            {% if countNumbers > 0 %}
                <p>Список всех Чисел</p>
                <ol>
                    {% for number in allNumbers %}
                    <li><b>{{ number }}</b></li>
                    <p></p>
                    {% endfor %}
                </ol>
            {% endif %}

        {% else %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
    </div>

    <hr>

    <p style="margin: 3em"></p>
    <a class="btn btn-info" href="{{ str_history }}">История Парсинга</a>


{% endblock %}